# Summary

Objective:
The aim to classify a hex as sparsely or densely populated using the service request data

Methodology:
CRISP-DM as a guideline

# Import Libraries

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Data Extract

In [17]:
df = pd.read_csv("C:/Users/rosha/Documents/CCT assignment/sr_hex.csv/sr_hex.csv")

In [18]:
df.head()

,notification_number,reference_number,creation_timestamp,completion_timestamp,directorate,department,branch,section,code_group,code,cause_code_group,cause_code,official_suburb,latitude,longitude,h3_level8_index
0,400583534,9.109492e+09,2020-10-07 06:55:18+02:00,2020-10-08 15:36:35+02:00,URBAN MOBILITY,Roads Infrastructure Management,RIM Area Central,District: Blaauwberg,TD Customer complaint groups,Pothole&Defect Road Foot Bic Way/Kerbs,Road (RCL),Wear and tear,MONTAGUE GARDENS,-33.872839,18.522488,88ad360225fffff
1,400555043,9.108995e+09,2020-07-09 16:08:13+02:00,2020-07-14 14:27:01+02:00,URBAN MOBILITY,Roads Infrastructure Management,RIM Area East,District : Somerset West,TD Customer complaint groups,Manhole Cover/Gully Grid,Road (RCL),Vandalism,SOMERSET WEST,-34.078916,18.848940,88ad36d5e1fffff
2,400589145,9.109614e+09,2020-10-27 10:21:59+02:00,2020-10-28 17:48:15+02:00,URBAN MOBILITY,Roads Infrastructure Management,RIM Area East,District : Somerset West,TD Customer complaint groups,Manhole Cover/Gully Grid,Road (RCL),Vandalism,STRAND,-34.102242,18.821116,88ad36d437fffff
3,400538915,9.108601e+09,2020-03-19 06:36:06+02:00,2021-03-29 20:34:19+02:00,URBAN MOBILITY,Roads Infrastructure Management,RIM Area North,District : Bellville,TD Customer complaint groups,Paint Markings Lines&Signs,Road Markings,Wear and tear,RAVENSMEAD,-33.920019,18.607209,88ad361133fffff
4,400568554,NaN,2020-08-25 09:48:42+02:00,2020-08-31 08:41:13+02:00,URBAN MOBILITY,Roads Infrastructure Management,RIM Area South,District : Athlone,TD Customer complaint groups,Pothole&Defect Road Foot Bic Way/Kerbs,Road (RCL),Surfacing failure,CLAREMONT,-33.987400,18.453760,88ad361709fffff

# Data Understanding

In [19]:
#determines the shape of the dataframe
df.shape

(941634, 16)

In [20]:
df.describe(include = 'all')

,notification_number,reference_number,creation_timestamp,completion_timestamp,directorate,department,branch,section,code_group,code,cause_code_group,cause_code,official_suburb,latitude,longitude,h3_level8_index
count,9.416340e+05,5.929200e+05,941634,929442,932199,932180,913233,848509,941634,941634,131117,131117,729221,729270.000000,729270.000000,941634
unique,NaN,NaN,895979,899486,12,20,39,86,38,492,43,183,775,NaN,NaN,2083
top,NaN,NaN,2020-11-03 08:50:14+02:00,2020-06-16 12:07:54+02:00,WATER AND SANITATION,Electricity Generation and Distribution,Reticulation,Reticulation WW Conveyance,ELECTRICITY TECHNICAL COMPLAINTS,Sewer: Blocked/Overflow,General,Foreign Objects,PHILIPPI,NaN,NaN,0
freq,NaN,NaN,9,83,422834,278117,249234,124392,241017,134429,78197,25030,24647,NaN,NaN,212364
mean,9.978141e+08,9.068970e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-33.964494,18.580975,NaN
std,1.041692e+08,5.715099e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.107055,0.115244,NaN
min,4.005208e+08,2.001336e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-34.348815,18.319447,NaN
25%,1.015698e+09,9.108640e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-34.036217,18.496383,NaN
50%,1.015964e+09,9.109075e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-33.974359,18.569997,NaN
75%,1.016237e+09,9.109528e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-33.912966,18.652793,NaN
max,1.016508e+09,9.109975e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-33.492328,18.960539,NaN

In [9]:
#Check for missing valuesS
100*round(df.isnull().sum()/len(df),4)

notification_number      0.00
reference_number        37.03
creation_timestamp       0.00
completion_timestamp     1.29
directorate              1.00
department               1.00
branch                   3.02
section                  9.89
code_group               0.00
code                     0.00
cause_code_group        86.08
cause_code              86.08
official_suburb         22.56
latitude                22.55
longitude               22.55
h3_level8_index          0.00
dtype: float64

In [21]:
df.dtypes

notification_number       int64
reference_number        float64
creation_timestamp       object
completion_timestamp     object
directorate              object
department               object
branch                   object
section                  object
code_group               object
code                     object
cause_code_group         object
cause_code               object
official_suburb          object
latitude                float64
longitude               float64
h3_level8_index          object
dtype: object

In [11]:
# change data types
df['notification_number'] = df['notification_number'].astype(str)
df['reference_number'] = df['reference_number'].astype(str)
df['creation_timestamp'] = pd.to_datetime(df['creation_timestamp'])
df['completion_timestamp'] = pd.to_datetime(df['completion_timestamp'])

In [22]:
#check updated data types
df.dtypes

notification_number       int64
reference_number        float64
creation_timestamp       object
completion_timestamp     object
directorate              object
department               object
branch                   object
section                  object
code_group               object
code                     object
cause_code_group         object
cause_code               object
official_suburb          object
latitude                float64
longitude               float64
h3_level8_index          object
dtype: object

The data types are:

- notification_number:      categorical - ordinal
- reference_number:         categorical - ordinal
- creation_timestamp:       interval/datetime
- completion_timestamp:     interval/datetime
- directorate:              categorical
- department:               categorical
- branch:                   categorical
- section:                  categorical
- code_group:               categorical
- code:                     categorical
- cause_code_group:         categorical
- cause_code:               categorical
- official_suburb:          categorical
- h3_level8_index:          categorical

## Data Quality Report

The focus is on the categorical vatiables since most of the variables are of categorical types.
The report determines
- missing values :to handle missing values - drop features, impute, case-by-case analysis
- check for cardinality
- max, min, categories that appear the most frequent (mode)

In [ ]:
# cat_cols = ['directorate','department',....]

# data_quality_df = pd.DataFrame(df.dtpes,columns=cat_cols)

Other data exploration practices:
- Visualisation plots to compare variables
- Identify outliers

# Data preparation

## Data cleaning

In [23]:
# remove rows with a '0' hex class as no location data is available to determine the hex. Requests with this class could possibly be in any location and will be ignored for this iteration
filtered_df = df[df['h3_level8_index'] != '0']